/* Global Styles */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Customer Variables */

:root{
    --teal:#B0E4EA;
    --slate-gray:#424d58;
    --header-gray:#24292e;
}

.section-title{
    color: slategray;
    font-weight: normal;
    display:flex;
    flex-wrap: wrap;
    margin:90px;
}

body{
    font-family: Helvetica, Arial, sans-serif;
}

body h1{
    display:flex;
    font-size: 50px;
    font-weight: normal;
    text-align: right;
    padding: 0 10px 0 0;
    flex: 20%;
    border-right: solid 4px slategray;
}

.section-content{
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex:80%;
    padding:0 0 0 30px;
    color: var(--slate-gray);
}

/* Begin Header/Banner Stylings */


header{
    padding:15px 0 15px 0;
    display: flex;
    flex-wrap: wrap;
    top:0;
    justify-content: space-between;
    background-color: var(--header-gray);
}

header a{
    text-decoration: none;
    color: var(--teal);
}

.name-photo{
    display: flex;
    justify-content: space-between;
    background-color: var(--teal);
    padding: 10px;
    width: auto;
}

header h1{
    color: var(--header-gray);
    padding: 45px 10px 35px 10px;
    font-weight: bold;
    border: none;
}

header img{
    width: 150px;
    height: 150px;
}

header nav{
    padding:55px 80px 35px 10px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding:10px 15px;
    font-weight: normal;
    font-size: 20px;
    line-height: 2;
}

header a{
    border-bottom: solid 4px var(--teal);
    border-left: solid 10px var(--header-gray);
    border-right: solid 10px transparent;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-width:thick;
}

/* Trying to figure out if individual divs will allow me to get a cleaner bottom border for the navbar items

.nav-about-me{
    border-bottom: solid 4px var(--teal);
}

.nav-work{
    border-bottom: solid 4px var(--teal);
}

.nav-contact-me{
    border-bottom: solid 4px var(--teal);
}

.nav-resume{
    border-bottom: solid 4px var(--teal);
} 

*/

.banner{
    background-image: url("../Assets/mountains.JPG");
    background-size: cover;
    height: 250px;
    width:100%;
    position: relative;
}

.banner-subtitle{
    background-color: var(--teal);
    font-size: 40px;
    width: fit-content;
    padding: 10px;
    font-weight: bold;
    color: var(--header-gray);
    position:absolute;
    right:0;
    bottom:0;
    margin: 0 100px 30px 0;
}

/* End Header/Banner stylings */

/* Begin Body stylings */

/* About Me section */



/* Work section */

.work h1{
    text-align: right;
    padding: 45px 10px 35px 10px;;
}

/* Contact Me section */

.contact-info{
    height: 100px;
}

.contact-methods{
    padding:40px 0 10px 50px;
    height:80px;
}

.contact-methods a{
    text-decoration: none;
    color:var(--slate-gray);
}

.phone, .email, .github-profile, .linkedin-profile, .spotify{
    border-bottom:solid 4px var(--slate-gray);
}