/* Global Styles */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Customer Variables */

:root{
    --teal:#B0E4EA;
    --slate-gray:#424d58;
    --header-gray:#24292e;
}

.section-title{
    color: slategray;
}

.border-left{
    border-left: solid 2px slategray;
}

body{
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    font-weight: bold;
    font-size: 50px;
}

/* Begin Header/Banner Stylings */


header{
    padding:15px 0 15px 0;
    display: flex;
    flex-wrap: wrap;
    top:0;
    justify-content: space-between;
    background-color: var(--header-gray);
}

header a{
    text-decoration: none;
    color: var(--teal);
}

.name-photo{
    display: flex;
    justify-content: space-between;
    background-color: var(--teal);
    padding: 10px;
    width: auto;
}

header h1{
    color: var(--header-gray);
    padding: 45px 10px 35px 10px;
    font-weight: bold;
}

header img{
    width: 150px;
    height: 150px;
}

header nav{
    padding:55px 80px 35px 10px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding:10px 15px;
    font-weight: normal;
    font-size: 20px;
    line-height: 2;
}

header a{
    border-bottom: var();
}

.banner{
    background-image: url("../Assets/mountains.JPG");
    background-size: cover;
    height: 250px;
    width:100%;
    position: relative;
}

.banner-subtitle{
    background-color: var(--teal);
    font-size: 40px;
    width: fit-content;
    padding: 10px;
    font-weight: bold;
    color: var(--header-gray);
    position:absolute;
    right:0;
    bottom:0;
    margin: 0 100px 30px 0;
}